# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev.vars

# Testing
coverage

# Turbo
.turbo

# Build Outputs
.next/
out/
build
dist

# Misc
.DS_Store
*.pem
*.local
*.log*
.cursor

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# typescript
*.tsbuildinfo

.wrangler/
