@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 30% 96%; /* #F9F7F2 */
    --foreground: 33 15% 25%; /* #4A4238 */
    --card: 40 100% 98%; /* #FFFCF5 */
    --card-foreground: 33 15% 25%; /* #4A4238 */
    --popover: 40 100% 98%; /* #FFFCF5 */
    --popover-foreground: 33 15% 25%; /* #4A4238 */
    --primary: 294 10% 47%; /* #7D6E83 */
    --primary-foreground: 40 100% 98%; /* #FFFCF5 */
    --secondary: 130 15% 65%; /* #94B49F */
    --secondary-foreground: 40 100% 98%; /* #FFFCF5 */
    --muted: 39 25% 92%; /* #F1EDE4 */
    --muted-foreground: 33 5% 45%; /* #7D7468 */
    --accent: 35 58% 64%; /* #D7A86E */
    --accent-foreground: 40 100% 98%; /* #FFFCF5 */
    --destructive: 10 44% 72%; /* #D9A295 */
    --destructive-foreground: 40 100% 98%; /* #FFFCF5 */
    --border: 37 33% 87%; /* #E8E2D6 */
    --input: 37 33% 87%; /* #E8E2D6 */
    --ring: 294 10% 47%; /* #7D6E83 */
  }

  .dark:root {
    --background: 35 13% 15%; /* #2C2922 */
    --foreground: 37 33% 87%; /* #E8E2D6 */
    --card: 33 9% 19%; /* #35312A */
    --card-foreground: 37 33% 87%; /* #E8E2D6 */
    --popover: 33 9% 19%; /* #35312A */
    --popover-foreground: 37 33% 87%; /* #E8E2D6 */
    --primary: 33 12% 62%; /* #A99F92 */
    --primary-foreground: 37 33% 87%; /* #E8E2D6 */
    --secondary: 120 12% 68%; /* #A7BC9F */
    --secondary-foreground: 37 33% 87%; /* #E8E2D6 */
    --muted: 30 11% 22%; /* #403B33 */
    --muted-foreground: 33 12% 70%; /* #BDB5A7 */
    --accent: 35 41% 59%; /* #C89F65 */
    --accent-foreground: 37 33% 87%; /* #E8E2D6 */
    --destructive: 12 38% 60%; /* #C47C6D */
    --destructive-foreground: 37 33% 87%; /* #E8E2D6 */
    --border: 33 11% 28%; /* #4F4A40 */
    --input: 33 11% 28%; /* #4F4A40 */
    --ring: 33 12% 62%; /* #A99F92 */
  }
}