@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 40% 19.6%;
    --card: 0 0% 100%;
    --card-foreground: 222 40% 19.6%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 40% 19.6%;
    --primary: 222 40% 19.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 178 54% 46.1%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 20% 98%;
    --muted-foreground: 215 16% 47%;
    --accent: 360 100% 70.6%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 9.9% 88.2%;
    --input: 214 9.9% 88.2%;
    --ring: 222 40% 19.6%;
  }

  .dark:root {
    --background: 222 40% 19.6%;
    --foreground: 0 0% 100%;
    --card: 222 40% 15%; 
    --card-foreground: 0 0% 98%;
    --popover: 222 40% 19.6%;
    --popover-foreground: 0 0% 98%;
    --primary: 178 54% 46.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 40% 19.6%;
    --secondary-foreground: 0 0% 100%;
    --muted: 222 40% 25%;
    --muted-foreground: 210 20% 85%;
    --accent: 360 100% 70.6%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 40% 25%;
    --input: 222 40% 25%;
    --ring: 210 20% 98%;
  }
}